*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration:none;
}

.container{
    display:grid;
    grid-template-columns: 1fr;
    height:1vh;
    width:auto;
}
.nav-top{
    display:flex;
    justify-content: space-between;
    height:85px;
    position: sticky;
    top:0px;
}
.nav-top > div{
    padding-left: 150px;
    padding-right:150px;
}
.kfc{
    position:relative;
    top:4px;
}
.sign-in{
    text-decoration: none;
    position:relative;
    align-self: center;
    left:-9px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    font-weight: normal;
}
.nav-second{
    display:flex;
    justify-content: space-between;
    height: 70px;
    background-color:rgb(4, 2, 32);
    position:sticky;
    top:85px;
}
.left{
    display:flex;
    position:relative;
    right:-200px;

}
.left >div{
    display:flex;
    margin-right:10px;
    align-self:center;
    color:rgb(112, 107, 107);
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    
}
.left > .delivery > div{
    margin-right:20px;
}
.left > .takeaway > div{
    margin-right:20px;
}
.left > .dine-in > div{
    margin-right:20px;
}
.dine-in{
    border-right:rgb(112, 107, 107) solid 1px;
}
.right{
    display:flex;
    position:relative;
    left:-100px;
    align-self:center;
}
.location button{
    width: 170px;
    height:45px;
    border-radius:5px;
    position:relative;
    left:-10rem;
    font-size: 1em;
    background-color:rgb(4, 2, 32);
    letter-spacing:0.05px;
    top:4px;
    border:blanchedalmond 2px solid;
    box-shadow: 2px 2px 4px 1px grey;
    
}
.location >button >a{
    color:dimgrey;
    font-family: Arial, Helvetica, sans-serif;
}
.right div:nth-of-type(2){
    position: relative;
    left:-100px;
    top:11px;

}
.right div:nth-of-type(3){
    position: relative;
    left:-70px;
    top:3px;

}
.slider-nav{
    max-width:100%;
    min-height: 370px;
    /*border: 3px solid red;*/
    display: flex;
    overflow-x: auto;
    overflow-y:hidden;
    scroll-snap-type:mandatory; 
}

.slider-nav::-webkit-scrollbar{
    display:none;
}
.imgSl{
    min-width:100%;
    height:auto;
    scroll-snap-align: center;
}
.offer-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.top-sec, .top-sec p{
    margin-top: 20px;
}
.top-sec p{
    margin-top:10px;
    text-transform: uppercase;
    font-size:4rem;
    font-family: 'Fredoka One', cursive;
    font-weight: bolder;
}
.bottom-sec{
    align-self: flex-start;
    width:300px;
    height:330px;
    border:rgba(172, 168, 168, 0.466) 1px solid;
    box-shadow: 3px 3px 4px rgb(172, 170, 170);
    position: relative;
    right:-195px;
    border-radius: 5px;
    margin-top:32px;

}
.bottom-sect-top img{
    width: 299px;
    height: 250px;
    padding:2px;
}
.bottom-sect-bottom >div >span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-sect-bottom >div:nth-of-type(2){
    display:flex;
    justify-content: space-between;
    padding-top:8px;
}
.money{
    font-weight: 300px;
    text-shadow: rgba(209, 206, 206, 0.466) 2px 2px 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:relative;
    right:-20px;
}
.add-buttn{
    width: 100px;
    height:30px;
    position: relative;
    left:-20px;
    background-color: rgb(255, 0, 55);
    border-radius:5px;
    border:none;
    box-shadow:4px 4px 4px grey;
}
.add-buttn a{
    color:white;
}
.main-sec{
    display:flex;
    flex-direction:column;
}
.menu{
    align-self:flex-start;
    font-size:4rem;
    position:relative;
    right:-175px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family:'Fredoka One', cursive;
    margin-top:32px;
    text-shadow:5px rgb(99, 97, 97);
}  
.menu-grid{
    display:grid;
    grid-template-columns: 1fr 1 fr 1 fr;
    grid-template-rows: 1fr 1fr 1 fr;
    grid-template-areas: 
    " box1 box2 box3"
    " box4 box5 box6"
    " . box7 .";
    justify-content: center;
    grid-gap:35px;
    margin-top:32px;
}
.menu-items{
    width:300px;
    height:200px;
    border:rgba(161, 159, 159, 0.486) 2px solid;
    box-shadow:10px 10px 7px rgba(126, 124, 124, 0.623);
    background: url(Images/menu-list/comon-bg.JPG);
    color:honeydew;
    font-size:2rem;
    font-family:'Fredoka One', cursive;
    font-weight: bold;
    text-transform: uppercase;
    padding-top:10px;
    padding-left:10px;
    border-radius:5px;
}
.box1{
    grid-area:box1;
}
.box2{
    grid-area:box2;
}
.box3{
    grid-area:box3;
}
.box4{
    grid-area:box4;
}
.box5{
    grid-area:box5;
}
.box6{
    grid-area:box6;
}
.box7{
    grid-area:box7;
}
.offer-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.offer{
    align-self:flex-start;
    font-size:4rem;
    position:relative;
    right:-175px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family:'Fredoka One', cursive;
    margin-top:40px;
    text-shadow:5px rgb(99, 97, 97);
}
.offer-main-sec{
    max-height:auto;
    border:2px solid transparent;
    width:140vh;
    display:flex;
    overflow-x:auto;
    gap:43px;
    margin-top:20px;
}
.offer-main-sec::-webkit-scrollbar{
    display:none;
}
.offer-main-sec .offer-avail{
    height:250px;
    min-width: 200px;
    border:1px solid rgba(177, 180, 177, 0.884);
    box-shadow:4px 4px 5px  rgb(128, 126, 126);
    border-radius: 5px;
}
.upper{
    max-width:200px;
    height:160px;
    background-color: rgb(247, 19, 19);
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-family:'Fredoka One', cursive;
    border-radius:5px;
    box-shadow:3px 3px 3px grey;
}
.upper p:last-of-type{
    font-size:10px;
    position:relative;
    bottom:-40px;
}
#up-b1 p:first-of-type{
    font-size:21px;
    position:relative;
    bottom: -45px;
}
#up-b1 p:nth-of-type(2){
    font-size: 30px;
    font-weight:normal;
    position: relative;
    bottom:-40px;
}
#up-b2 p:first-of-type{
    font-size:25px;
    position: relative;
    bottom:-50px;
}
#up-b2 P:nth-of-type(2){
    font-size:30px;
    position: relative;
    bottom:-49px;
}
#up-b2 P:last-of-type{
    position:relative;
    bottom:-50px;
}
#up-b3 p:first-of-type{
    font-size:25px;
    position: relative;
    bottom:-50px;
}
#up-b3 P:nth-of-type(2){
    font-size:30px;
    position: relative;
    bottom:-49px;
}
#up-b3 P:last-of-type{
    position:relative;
    bottom:-50px;
}
#up-b4 p:first-of-type{
    font-size:25px;
    position: relative;
    bottom:-40px;

}
#up-b4 p:nth-of-type(2){
    position: relative;
    bottom:-45px;
    font-size:25px;
}
#up-b4 p:nth-of-type(3){
    position: relative;
    bottom:-40px;
    font-size:30px;
}
#up-b4 P:last-of-type{
    position:relative;
    bottom:-40px;
}
#up-b5 p:first-of-type{
    font-size:25px;
    position: relative;
    bottom:-50px;
}
#up-b5 P:nth-of-type(2){
    font-size:30px;
    position: relative;
    bottom:-49px;
}
#up-b5 P:last-of-type{
    position:relative;
    bottom:-50px;
}
.bottom{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
.bottom p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    color:rgb(54, 53, 53);
    position:relative;
    top:20px;
}
.bottom button{
    width:150px;
    height: 25px;
    color:white;
    background-color:rgb(255, 0, 55);
    border:none;
    border-radius:5px;
    position:relative;
    bottom:-30px;
}
.bottom button:hover{
    cursor:pointer;
}
.buttn_change{
    width:150px;
    height: 25px;
    color:white;
    background-color:rgb(255, 0, 55);
    border:none;
    border-radius:5px;
    position:relative;
    bottom:-30px;
}
.airtel-offer{
    margin-top:25px;
    border:2px dashed black;
    border-radius:2rem;
    width:950px;
    height:180px;
    display:flex;
    justify-content: space-between;
}
.left-airtel{
    padding:35px;
}
#air{
    position:relative;
    bottom:-30px;
}
.right-airtel{
    flex:2;
    position:relative;
}
.right-at{
    display:flex;
    flex-direction: column;
    position:absolute;
    height:180px;
    width:580px;
    background-color:rgb(238, 9, 9);
    top:-2px;
    justify-content: center;
    align-items: center;
    padding:20px;

}
.right-at >div{
    font-size:20px;
    font-family:'Fredoka One', cursive;
}
.right-at >div:first-of-type{
    font-size:30px;
    font-weight: bolder;
}
.right-at >div:last-of-type{
    font-size:10px;
}
.footer{
    width:100%;
    max-height:auto;
    /*border:1px solid black;*/
    margin-top:75px;
    box-shadow: 10px 10px 5px 5px rgb(179, 175, 175);
    position:relative;

}
.foot-nav-first{
    display:flex;
    justify-content: center;
    position:relative;
    padding-top:15px;
    padding-bottom:30px;
}
.foot-left-1{
    display:flex;
    align-items: flex-start;
    gap:16px;
    position:relative;  
    left:-100px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:540;
    text-align:center;
    bottom:-10px;
    font-size:14.5px;
    

}
.foot-right-1{
    display:flex;
    position:relative;
    right:-100px;
    gap:10px;
}
.foot-nav-first::after{
    content:"";
    height:10px;
    width:950px;
    border-top:rgb(156, 153, 153) 2px solid;
    position: absolute;
    bottom:-1px;
}
.foot-nav-second{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom:15px;
}
.foot-left-2{
    display:flex;
    gap:35px;
    position:relative;
    right:-200px;
}
.foot-right-2{
    display:flex;
    gap:10px;
    position:relative;
    bottom:-10px;
    left:-184px;
    font-family: Arial, Helvetica, sans-serif;

}
.para{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:40px;
}
.lowest{
    display:flex;
    justify-content: center;
    gap:20px;
    margin-top:130px;
}
.low{
    width:50px;
    height: 30px;
    background-color: rgb(165, 0, 0);
    margin-bottom:15px;
}
